html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $plantin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $bebas;
	font-weight: 700;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}