/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;

$chestnut: #924532;

/* Typography
----------------------------------*/
@import url("https://use.typekit.net/tzf6fav.css");

$bebas: bebas-neue-pro, sans-serif;
$plantin: plantin, sans-serif;
